<!--<div class='box'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" routerLink="/">Dictionary App</a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dictionaries <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/dictionary/ldoce5">Longman Dictionary of Contemporary English (5th edition)</a></li>
              <li><a routerLink="/dictionary/lasde">Longman Active Study Dictionary</a></li>
              <li><a routerLink="/dictionary/ldec">Longman English-Chinese Dictionary of 100,000 Words (New 2nd Edition)</a></li>
              <li><a routerLink="/dictionary/wordwise">Longman Wordwise Dictionary</a></li>
              <li><a routerLink="/dictionary/laesd">Longman Afrikaans to English</a></li>
              <li><a routerLink="/dictionary/leasd">Longman English to Afrikaans</a></li>
              <li><a routerLink="/dictionary/laad3">Longman Advanced American Dictionary</a></li>
              <li><a routerLink="/dictionary/laes">English to Latin American Spanish</a></li>
              <li><a routerLink="/dictionary/lase">Latin American Spanish to English</a></li>
              <li><a routerLink="/dictionary/brep">English to Brazilian Portuguese</a></li>
              <li><a routerLink="/dictionary/brpe">Brazilian Portuguese to English</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>-->

<div class='container'>
    <router-outlet></router-outlet>
  </div>