<header>
      <title>Apero's details</title>
  </header>   
  
  <content padding>   
    <!--<item>-->
      <label position="stacked">Date</label>
      <input type="date" [(ngModel)]="apero.date" min="today" placeholder="dd-MM-yyyy" max="2030">
    <!--</item>-->

    <!--<item>-->
        <label position="stacked">Number of guests</label>
        <input [(ngModel)]="apero.nb_slots">
    <!--</item>-->

    <label position="stacked">Address</label>
    <input [(ngModel)]="apero.address" ngx-google-places-autocomplete [options]=options #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

    <!--<item>-->
        <label position="stacked">Guests: </label>
        <div *ngFor="let guest of apero.guests_id">
          {{ guest }}
        </div>
    <!--</item>-->
   
  </content>
   
  <footer *ngIf="apero.id==null">
    <!--<row no-padding text-center>-->
        <!--<col size="12">-->
        <button vertical="bottom" horizontal="end" fill="solid" color="primary" (click)="addApero()">
          <!--<icon name="checkmark" slot="start"></icon>-->
          Add Apero
        </button>
        <!--</col>-->
    <!--</row>-->
  </footer>
   
  <footer *ngIf="apero.id!==null">
    <!--<row no-padding text-center>-->
      <!--<col size="6">-->
        <button fill="solid" color="danger" (click)="deleteApero()">
          <!--<icon name="trash" slot="start"></icon>-->
          Delete
        </button>
      <!--</col>-->
      <!--<col size="6">-->
        <button fill="solid" color="primary" (click)="updateApero()">
          <!--<icon name="save" slot="start"></icon>-->
          Update
        </button>
      <!--</col>-->
    <!--</row>-->
  </footer>
