<!--<div>

  <div slot="bottom">
    <button tab="apero-list">
      <label>Apero's list</label>
    </button>

    <button tab="tab2">
      <label>Map</label>
    </button>

    <button tab="tab3">
      <label>Settings</label>
    </button>
  </div>

</div>-->
<nav>
  <a routerLink="/tabs/apero-list" routerLinkActive="active">Apero's list</a>
  <a routerLink="/tabs/tab2" routerLinkActive="active">Map</a>
  <a routerLink="/tabs/tab3" routerLinkActive="active">Settings</a>
</nav>
<router-outlet></router-outlet>
