<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div> 
                  <span>
                      <img alt="image" class="img-circle" src="../../assets/icons/appheraut.png" style="max-width: 50px;"/>
                  </span>
                  <a>
                      <span class="clear"> 
                          <span class="block m-t-xs"> 
                              <strong class="font-bold">{{ user.user_name }}</strong>
                          </span> 
                          <span class="text-muted text-xs block">{{ user.email }}</span> 
                      </span> 
                  </a>
              </div>
          </li>
          <li>
              <a routerLink="/tabs/apero-list" routerLinkActive="active">
                  <i class="fa fa-angellist"></i>
                  <span class="nav-label"> Apero's list</span>
                  <span class="fa arrow"></span>
              </a>             
          </li>
          <li>
              <a routerLink="/tabs/tab2" routerLinkActive="active">
                  <i class="fa fa-globe"></i>
                  <span class="nav-label"> Map</span>
                  <span class="fa arrow"></span>
              </a>
          </li>
          <li>
              <a routerLink="/tabs/tab3" routerLinkActive="active">
                  <i class="fa fa-cog"></i> 
                  <span class="nav-label"> Settings</span>
                  <span class="fa arrow"></span>
              </a>
          </li>
          <li>
              <a routerLink="/tabs/tab4" routerLinkActive="active">
                <i class="fa fa-external-link"></i> 
                <span class="nav-label"> Logout</span>
                <span class="fa arrow"></span>
              </a>
          </li>
          <li class="unactive-link">
              <a style="height: 10000px"></a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
