<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div> 
                  <span>
                      <img alt="image" class="img-circle" src="../../assets/icons/appheraut.png" style="max-width: 50px;"/>
                  </span>
                  <a>
                      <span class="clear"> 
                          <span class="block m-t-xs"> 
                              <strong class="font-bold">{{ user.user_name }}</strong>
                          </span> 
                          <span class="text-muted text-xs block">{{ user.email }}</span> 
                      </span> 
                  </a>
              </div>
          </li>
          <li [ngClass]="{ 'active' : tabsNavigationStatus.get('home').active }">
            <a (click)="navigateToHome()">
                <i class="fa fa-home"></i>
                <span class="nav-label"> Home</span>
                <span class="fa arrow"></span>
            </a>             
        </li>
          <li [ngClass]="{ 'active' : tabsNavigationStatus.get('aperoList').active }">
              <a (click)="navigateToAperoList()">
                  <i class="fa fa-angellist"></i>
                  <span class="nav-label"> Apero's list</span>
                  <span class="fa arrow"></span>
              </a>             
          </li>
          <li [ngClass]="{ 'active' : tabsNavigationStatus.get('map').active }">
              <a (click)="navigateToMap()">
                  <i class="fa fa-globe"></i>
                  <span class="nav-label"> Map</span>
                  <span class="fa arrow"></span>
              </a>
          </li>
          <li [ngClass]="{ 'active' : tabsNavigationStatus.get('settings').active }">
              <a (click)="navigateToSettings()">
                  <i class="fa fa-cog"></i> 
                  <span class="nav-label"> Settings</span>
                  <span class="fa arrow"></span>
              </a>
          </li>
          <li>
              <a (click)="logOut()">
                  <i class="fa fa-sign-out"></i> 
                  <span class="nav-label"> Logout</span>
                  <span class="fa arrow"></span>
              </a>
          </li>
          <li class="unactive-link">
              <a style="height: 10000px"></a>
          </li>
      </ul>
  </div>
</nav>
  <div class="wrapper-tabs">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary">
                    <i class="fa fa-bars"></i>
                </a>
          </div>
          <ul class="nav navbar-top-links text-right" style="margin-top: 15px;">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to App-Heraut.</span>
                </li>
          </ul>
      </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
          <h2>{{ activeTabName }}</h2>
          <ol class="breadcrumb">
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li class="active" *ngIf="!tabsNavigationStatus.get('home').active">
                  <strong>{{ activeTabName }}</strong>
              </li>
          </ol>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight beSmaller">
      <router-outlet></router-outlet>
    </div>
    <div class="footer" style="margin-bottom: 10px;">
        <div>
            <strong>Copyright</strong> App-Heraut &copy; 2020
        </div>
    </div>
</div>
