<header>
      <button class="btn btn-primary dim btn-very-large-dim" type="button" routerLink="/tabs/apero-details">
          <i class="fa fa-money"></i>
          Create a new apero alert !
      </button>
    <title>All my apero alerts</title>
</header>

<!--<ion-card>
  <ion-card-header>
    <ion-card-title>Grant Permission</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="getPermission()">Grant Permission</ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-card-title>Subscribe to Topic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="fcm.sub('discounts')">Subscribe to Topic</ion-button>
    </ion-card-content>
  </ion-card>-->

<content>

    <!--<ion-fab vertical="bottom" horizontal="begin" slot="fixed">
      <ion-fab-button (click)="joinApero()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
   
  <div *ngFor="let apero of aperos">
    <button [routerLink]="['/tabs/apero-details', apero.id]">
      {{ apero.host_user_name }}
    </button>
    <button [routerLink]="['/tabs/tab2', apero.lat, apero.lon]">
      show map
    </button>
    <div *ngFor="let user_id of apero.guests_id">
      {{user_id}}      
    </div>
  </div>

</content>
